{% extends 'base.html' %}

{% block title %} Blog {% endblock %}
{% block styles %}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1>My Articles:</h1>
            <ul>
                {% for article in articlesByAuthor %}
                    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a> in {{ article.category }}</li>
                {% endfor %} 
            </ul>
        <a href="{% url 'blog:article-create' %}"><button>+ Add Article</button></a>
    {% endif %}

    <h1>All Articles:</h1>
    {% for article_category in object_list %}
        <h2>{{ article_category }}</h2>
        <ul>
            {% for article in article_category.article.all %}
                {% if request.user.is_authenticated %}
                    {% if article not in articlesByAuthor %}
                        <li><a href="{{ article.get_absolute_url }}">{{article.title}}</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ article.get_absolute_url }}">{{article.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

{% block scripts %}{% endblock %}