{% extends 'base.html' %}

{% block title %}{{object.title}}{% endblock %}
{% block content %}
    <ul>
        <li>{{object.description}}</li>
        <li>{{object.created_on}}</li>
        <li>{{object.updated_on}}</li>
        <li>{{object.created_by}}</li>
        <li>{{object.status}}</li>
    </ul>

    Jobs:
    <ul>
    {% for job in jobs %}
        <li>{{job.0.role}} - Manpower Required: {{job.0.manpower_required}} Current Manpower: {{job.0.current_manpower}} Open Manpower: {{job.0.open_manpower}} Status: {{job.0.status}}<br>
        {% if user.is_authenticated and job.0.open_manpower > 0 %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ job.1.as_p }}
                <button type="submit">Submit</button>
            </form>
        {% endif %}
        </li>
    {% endfor %}

    </ul>
    Total Manpower Required = {{total_manpower_required}}<br>
    Current Manpower = {{current_manpower}}<br>
    Open Manpower = {{open_manpower}}<br>

    {% if user.pk == commission_owner %}
        Put Update View here<br>
    {% endif %}
    <a href="/commissions/list"><button>Back to Commissions</button></a>
{% endblock %}
