{% extends 'base.html' %}

{% block title %}{{object.title}}{% endblock %}
{% block content %}
    <ul>
        <li>{{object.description}}</li>
        <li>{{object.people_required}}</li>
        <li>{{object.created_on}}</li>
        <li>{{object.updated_on}}</li>
    </ul>

    <h3>Comments</h3>
    <ul>
        {% for comment in object.comment.all %}
        <li>
            Entry: {{comment.entry}}<br>
            Created on: {{comment.created_on}}<br>
            Updated on: {{comment.updated_on}}<br>
        </li> <br>
        {% endfor %}
    </ul>

    <a href="/commissions/list">Back to Commissions</a>
{% endblock %}