{% extends 'base.html' %}

{% block title %}{{object.title}}{% endblock %}
{% block content %}
    <ul>
        <li>{{object.description}}</li>
        <li>{{object.created_on}}</li>
        <li>{{object.updated_on}}</li>
        <li>{{object.created_by}}</li>
        <li>{{object.status}}</li>
    </ul>

    Jobs:
    <ul>
    {% for job in jobs %}
        <li>{{job.0.role}} - Manpower Required: {{job.0.manpower_required}} Current Manpower: {{job.0.current_manpower}} Open Manpower: {{job.0.open_manpower}} Status: {{job.0.status}}<br>
            {% if job.0 in jobs_applied_by_user %}
                {% for job_application in job.0.job_applications.all %}
                    {% if job_application.applicant == user.Profile %}
                        Status: {{job_application.get_status_display}}<br>
                    {% endif %}
                {% endfor %}
            {% elif job.0.open_manpower > 0 %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ job.1.as_div }}
                    <input type="hidden" id="job_id_{{job.3}}" name="hidden_job_id" value="{{job.3}}">
                    <button type="submit">Submit</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}

    </ul>
    Total Manpower Required = {{total_manpower_required}}<br>
    Current Manpower = {{current_manpower}}<br>
    Open Manpower = {{open_manpower}}<br>

    {% if user.pk == commission_owner %}
        <form method="POST" enctype="multipart/form-data"><br>
    {% endif %}
    <a href="/commissions/list"><button>Back to Commissions</button></a>
{% endblock %}
