{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.name|default:"Create New Product" }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/merchstore.css' %}">
{% endblock %}

{% block content %}
<div id="content">
  <h1>{% if object %}Edit {{ object.name }}{% else %}Add New Product{% endif %}</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
</div>
<h3><a href="{% url 'merchstore:product_list' %}">Back to Product List</a></h3>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/merchstore.js' %}"></script>
{% endblock %}
