{% extends "base.html" %}
{% load static %}
{% block title %}
    Products
{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Your Products</h1>
        {% for type in product_types %}
            <h2>{{ type }}</h2>
            <ul>
                {% for product in object_list %}
                    {% if product.type == type and product.owner == request.user.profile %}
                        <li>
                            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
        <h3>
            <a href="{% url 'merchstore:product_create' %}">Add Product</a>
        </h3>
        <h1>Products</h1>
        {% for type in product_types %}
            <h2>{{ type }}</h2>
            <ul>
                {% for product in object_list %}
                    {% if product.type == type and product.owner != request.user.profile %}
                        <li>
                            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <h1>Products</h1>
        {% for type in product_types %}
            <h2>{{ type }}</h2>
            <ul>
                {% for product in object_list %}
                    {% if product.type == type %}
                        <li>
                            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
{% endblock content %}