{% extends 'base.html' %}
{% load static %}

{% block title %}Product List{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/merchstore.css' %}">
{% endblock %}

{% block content %}
<div id="content">
  <h1>Product List</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'merchstore:product_create' %}">Add New Product</a>
  {% endif %}
  <ul>
    {% for product in object_list %}
      <li>
        <a href="{% url 'merchstore:product_detail' product.pk %}">{{ product.name }}</a> - ₱ {{ product.price }}
        <br> Status: {{ product.status }}
        <br> Stock: {{ product.stock }}
      </li>
    {% empty %}
      <li>No products available.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/merchstore.js' %}"></script>
{% endblock %}
